body {
  font-family: "Press Start 2P", cursive;
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 1800px;
  margin: 50px auto;
}
#myTune {
  display: flex;
  flex-direction: row;
}
#gameboy {
  display: flex;
  z-index: -1;
  margin-top: -1050px;
  width: 1200px;
  height: 1900px;
  background-image: url(../assets/IMG_0817.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}
#text-window {
  z-index: 2;
  margin-top: 600px;
  width: 800px;
  height: 300px;
  border: 5px solid black;
  border-radius: 3%;
  position: absolute;
  background-color: lightgray;
  display: none;
  flex-direction: column;
  padding: 20px;
}
#start {
  z-index: 1;
  background-image: url(../assets/IMG_0813.PNG);
  background-size: contain;
  margin-top: -910px;
  width: 900px;
  height: 900px;
  border: 2px solid black;
  border-radius: 3%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
#welcome {
  padding: 40px;
  margin-top: 100px;
}
#rules {
  text-align: left;
}
#startGame {
  width: 100px;
  height: 100px;
}
#lost {
  z-index: 1;
  background-image: url(../assets/IMG_0814.PNG);
  background-size: contain;
  margin-top: -910px;
  width: 900px;
  height: 900px;
  border: 2px solid black;
  border-radius: 3%;
  background-color: lightgray;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
#finished {
  z-index: 1;
  background-image: url(../assets/IMG_0815.PNG);
  background-size: contain;
  margin-top: -910px;
  width: 900px;
  height: 900px;
  border: 2px solid black;
  border-radius: 3%;
  background-color: lightgray;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 100;
  margin: 5px 10px;
  text-align: center;
}
h2 {
  font-weight: 100;
  margin: 5px 40px;
}

.list {
  z-index: 1;
}
li {
  display: flex;
  text-align: left;
  margin: 10px;
}
#livesBoard {
  z-index: 1;
  border: 2px solid blue;
}
#topBoard {
  width: 800px;
  z-index: -1;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#fence {
  display: flex;
  margin-top: -75px;
  z-index: 1;
  background-image: url(../assets/IMG_0784.PNG);
  width: 150px;
  height: 75px;
}
#fence2 {
  display: none;

  margin-right: 690px;
  margin-top: -75px;
  z-index: 1;
  background-image: url(../assets/IMG_0793.PNG);
  width: 75px;
  height: 75px;
}
#scoreCount1 {
  width: 50px;
  opacity: 50%;
}
#scoreCount2 {
  width: 50px;
  opacity: 50%;
}
#scoreCount3 {
  width: 50px;
  opacity: 50%;
}
#scoreCount4 {
  width: 50px;
  opacity: 50%;
}
#scoreCount5 {
  width: 50px;
  opacity: 50%;
}
#scoreCount6 {
  width: 50px;
  opacity: 50%;
}
#scoreCount7 {
  width: 50px;
  opacity: 50%;
}
#life1 {
  width: 50px;
  opacity: 100%;
}
#life2 {
  width: 50px;
  opacity: 100%;
}
#life3 {
  width: 50px;
  opacity: 100%;
}
